# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.venv
*.test
/src/Pokepast
*.out

# all this bloat
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/VGC-Team-Helper.iml
